body {

    background-color:rgb(95, 159, 201)

}

.container {

    margin:auto;
    margin-top:2%;
    background-color:#fff;
    width:50%;
    text-align:center;
    padding:5px;
    font-size:25px;
    border-radius:10px;

}

input {

    width:60%;

}

button {

    width:20%;
    height:30px;
    margin:1%;
      
}

.btn-tarefa {

    color:rgb(95, 159, 201);

}

li {

    font-size: 50%;

}

h1 {

    margin-bottom:0px;

}
